<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edicoding.picodiploma.rongsokinuser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Edit.EditActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".input.InputActivity" />
        <activity android:name=".input.KatagoriActivity" />
        <activity android:name=".SuksesAct" />
        <activity android:name=".RegisterAct" />
        <activity
            android:name=".HomeAct"
            android:theme="@style/AppTheme" />
        <activity android:name=".Login_Act" />
        <activity android:name=".SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>